{% extends 'base.html' %}

{% block scripts %}

{% endblock scripts %}


{% block content %}
    {% comment %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="new-statistic">
            <button type="submit" class="btn btn-primary mt-3">+ add</button>
        </div>
    </form>
    {% endcomment %}

    <h1>Roulette Tables</h1>
    <hr>
    {% if qs %}
        <ul>
            {% for el in qs %}
                <li><a href="{{ el.get_absolute_url }}">{{ el.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}